{% extends "jobs/base.html"%}

{% block title %}
Wells
{% endblock %}

{% block body %}


<style>
  

.sort{
  font-weight: normal;
}
.dropdown-content li > a, .dropdown-content li > span {
    font-size: 16px;
    color: #039be5;
}

@media only screen and (max-width: 1519px) {
  .equip-action-dropdown{
    line-height: 75px !important;
    height: 75px !important;
    padding-top: 0 !important;
  }
  .sort.desc:after {
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #000000;
  }
  .sort.asc:after {
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #000000;
  }
  ul.dropdown-content {
    line-height: 250px;
    /* min-width: 200px; */
  }
  .dropdown-li{
    line-height: 75px !important;
    height: 75px !important;
    width: auto !important;
  }
  .dropdown-a{
    height: 75px;
    /* width: 200px; */
    display: block;
    padding: 0 30px !important;
  }
  .dropdown-i{
    line-height: 75px !important;
    height: 75px !important;
    padding: 0px 30px ;
  }
  .asc:after{
  font-size: 60px !important;  
  width: 60px;
  height: 40px;
  }
  .desc::after {
  font-size: 60px !important;  
  }
}
.dropdown-auto{
  width: auto !important;
}
</style>


<div class="container ">
  <div style="text-align: left;" class="noselect"> 
    <a class="waves-effect waves-light btn-small phone-button lapping-btn" onclick="$(this).hide(); $('#new_well_div').show()" href="#">
      <i class="material-icons left">add</i>New Well
    </a>
    <form id="new_well_form" name="new_well_form" action="{% url 'ag_new_well' %}" method="post">
      {% csrf_token %} 
      <div class="row hidden-stuff" style="margin-top: 20px;" id="new_well_div">
        <div class="input-field col s6 m6 l6 xl3">
          <input class="" required form="new_well_form" type="text" id="new_well_name" name="new_well_name" placeholder="e.g. Jacob's Well" value=""> 
          <label for="new_well_name">Enter Name for New Well</label>
        </div>
        <div class="col s6 m6 l6 xl3">    
          <button id="new_well_submit"  class="btn-small phone-button" type="submit" name="new_well_submit" form="new_well_form">Add Now <i class="material-icons right">send</i></button>
        </div>
      </div>
    </form>
  </div>
</div>
{% if wells %}
<h4>Wells</h4>


<div class="container">
  <div class="list">
    {% for well in wells %}
    <form id="edit_well_{{well.id}}_form" name="edit_well_{{well.id}}_form" action="{% url 'ag_edit_well' well.id %}" method="post">  
    {% csrf_token %} 
    <div class="row">
      <span class="name_a" style="display: none;">{% if well.name %}{{ well.name }}{% else %}---(no name)---{% endif %}</span>
        
      <div class="col s12 m12">            
        <div class="card z-depth-3">
          <div class="card-content">
            <div class="row">
              <span class="card-title">
                <span hidden>
                  {% if well.name %}
                  {{ well.name }} 
                  {% else %}
                  ---
                  {% endif %}</span>              
                <a href="{% url 'agwell' well.id %}" class="phone-title-font">
                  {% if well.name %}
                  {{ well.name }}
                  {% else %}
                  ---
                  {% endif %}
                </a>
              </span>
              <div class="input-field col s6 m6 l6 xl4" id="edit_well_name_div{{well.id}}">
                <input class="well_{{well.id}}_input" oninput='formInput({{well.id}})' form="edit_well_{{well.id}}_form" type="text" id="edit_well_name" name="edit_well_name" value="{{well.name}}"> 
                <label for="new_well_name">Name</label>
              </div>
              <div class="input-field col s6 m6 l6 xl4">
                <input class="well_{{well.id}}_input" oninput='formInput({{well.id}})' form="edit_well_{{well.id}}_form" type="text" id="location" placeholder="e.g. SW SECTION 3" name="location" value="{{well.location|default_if_none:''}}"> 
                <label for="location">Location</label>
              </div>
              <div class="input-field col s6 m6 l6 xl4">
                <input class="well_{{well.id}}_input" oninput='formInput({{well.id}})' form="edit_well_{{well.id}}_form" type="text" id="motor" placeholder="e.g. CAT C9.3" name="motor" value="{{well.motor|default_if_none:''}}"> 
                <label for="motor">Motor</label>
              </div>
              <div class="input-field col s6 m6 l6 xl4">
                <input class="well_{{well.id}}_input" oninput='formInput({{well.id}})' form="edit_well_{{well.id}}_form" type="text" id="oil_type" placeholder="e.g. 3W30" name="oil_type" value="{{well.oil_type|default_if_none:''}}"> 
                <label for="oil_type">Oil Type</label>
              </div>
              <div class="input-field col s6 m6 l6 xl4">
                <input class="well_{{well.id}}_input" oninput='formInput({{well.id}})' form="edit_well_{{well.id}}_form" type="text" id="fuel_type" placeholder="e.g. Natural Gas" name="fuel_type" value="{{well.fuel_type|default_if_none:''}}"> 
                <label for="fuel_type">Fuel Type</label>
              </div>
              <div class="input-field col s6 m6 l6 xl4">
                <input class="well_{{well.id}}_input" oninput='formInput({{well.id}})' form="edit_well_{{well.id}}_form" type="text" id="oil_filter" placeholder="e.g. CAT 2492347 " name="oil_filter" value="{{well.oil_filter|default_if_none:''}}"> 
                <label for="oil_filter">Oil Filter</label>
              </div>
              <div class="input-field col s6 m6 l6 xl4">
                <input class="well_{{well.id}}_input" oninput='formInput({{well.id}})' form="edit_well_{{well.id}}_form" type="text" id="air_filter" placeholder="e.g. CAT 380-5840" name="air_filter" value="{{well.air_filter|default_if_none:''}}"> 
                <label for="air_filter">Air Filter</label>
              </div>

             <div class="input-field col s6 m6 l6 xl4" style="white-space: nowrap;" >
              <label for="oil_capacity" style="white-space: nowrap;">Oil Capacity</label>
                <input class="well_{{well.id}}_input"  oninput='formInput({{well.id}})' form="edit_well_{{well.id}}_form" style="max-width: 60%;" type="number" id="oil_capacity" name="oil_capacity" step=".001" {% if well.oil_capacity %} value="{{ well.oil_capacity.normalize }}"{% endif %}> gal
            </div>  
            <div class="input-field col s6 m6 l6 xl4">
              <input class="well_{{well.id}}_input" oninput='formInput({{well.id}})' form="edit_well_{{well.id}}_form" type="url" id="nav_link" placeholder="https://maps.google.com" name="nav_link" value="{{well.nav_link|default_if_none:''}}"> 
              <label for="nav_link">Navigation Link</label>
            </div>


            </div>
          </div>
          <div class="card-action phone-font-med">
            {% if well.nav_link %}
            <a href="{{well.nav_link}}" class="quick-link">Navigate</a>          
            {% endif %}
            <button id="edit_well_submit{{well.id}}" form="edit_well_{{well.id}}_form" class="btn-small phone-button hidden-stuff" style="border: 1px solid #bf5700;" type="submit" name="edit_well_submit{{well.id}}">Save</button>

          </div>
        </div>
      </div>
    </div>
  </form>
    {% endfor %}
  </div>

</div>
{% else%}
  <h4>No wells created.</h4>
{% endif %}



<script>
  function formInput(well_id){    
    $(".input-field :input").not(".well_"+well_id+"_input").prop("disabled", true)
    // $(".input-field :input").not(".well_"+well_id+"_input").css("color", "#888")
    $("#edit_well_submit"+well_id).show()
    $(".btn-small").not("#edit_well_submit"+well_id).addClass("disabled")
    $('.quick-link').hide()
  }
</script>
{% endblock %}


