{% extends "jobs/base.html"%}

{% block title %}
  Folder_{{ model }}
{% endblock %}

{% block body %}
<div class="container"><a class="waves-effect waves-light btn-small" onclick="goBack()">Go Back</a>
</div>
<h1 style="text-align: center">{{ model }} Folder</h1>
<div class="container">

    <form id="file_add_form" class="col s12" action="{% url 'add_model_files' model.id %}" method="post"
        enctype="multipart/form-data">
        {% csrf_token %}
        <div class="col s12 m12 l6">
            <div class="file-field input-field col s12 m6">
                <div class="btn">
                    <span>Choose Files</span>
                    <input id="file_add" name="file_add" type="file" multiple>
                </div>
                <div class="file-path-wrapper">
                    <input class="file-path validate" type="text" placeholder="Select File">
                </div>
            </div>
        </div>
        <div class="col s12 m12 l6">
            <button class="btn waves-effect waves-light" type="submit" name="action" id="submit-btn"> Add File
                <i class="material-icons right">send</i>
              </button>
        </div>
    </form>

    
    <ul class="collection">
        {% csrf_token %}
        {% if model_files %}
            {% for file in model_files %}
            <li class="collection-item"><a href="{{file.model_file.url}}" target="_blank" class="waves-effect waves-teal btn-flat">{{file.filename}}</a>
                <a href="{% url 'remove_model_files' file.id %}" ><i class="material-icons right">remove_circle_outline</i></a>
                <a style="color: #00EC12">Added: {{file.created_at}}</a>
            </li>
            {% endfor %}
        {% else %}
            No Files
        {% endif %}
    </ul>
</div>
<script>
    function goBack() {
      window.history.back();
    }
</script>
{% endblock %}