{% extends "jobs/base.html"%}

{% block title %}
  Create Job
{% endblock %}

{% block body %}
<style>
  label{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
  }

  h6 {
    font-size: 20px;
    color: #023b59;
    text-align: center;
    margin-bottom: 3rem;
    padding: 1.5rem;
    border-bottom: 1px solid #b8d8d8

  }
  @media only screen and (max-width: 1519px) {
    .autocomplete-content, .dropdown-content span{
      font-size: 50px !important;
      padding-top: 30px !important;
      padding-bottom: 30px !important;
    }
    h6{
      font-size: 18px;
    }
    input{
      /* min-height: 5.5rem !important; */
      font-size: 16px !important;
    }
    label{
      font-size: 14px !important;
    }
    
    .check-label::after{
            content: "\a\a";
            white-space: pre;
        }
        .check-label::after{
            content: "\a\a";
            white-space: pre;
        }
        [type="checkbox"] + span:not(.lever) {
        font-size: 24px;
        padding-left: 65px;
        }
        .check-parent{
        height: 35px !important;
        width: 35px !important;
        }
        input.check-input{
        height: 35px !important;
        width: 35px !important;        
        }
        span.check-span {
        height: 35px !important;
        width: 35px !important;
        margin-left: 75px !important;
        }
        [type="checkbox"].filled-in:not(:checked) + span:not(.lever):after {
            height: 45px;
            width: 45px;
        }
        [type="checkbox"].filled-in:checked + span:not(.lever):after {
            height: 45px;
            width: 45px;
        }
        [type="checkbox"].filled-in:checked + span:not(.lever):before {
            top: 0;
            width: 18px;
            height: 30px;
        }
  }

</style>
<div class="container"><a class="waves-effect waves-light btn-small phone-button lapping-btn" href="{% url 'jobs' %}">◀ All Jobs</a></div>
        
<h4 style = "text-align: center; padding-bottom: 3rem;">Create a New Job</h4>

      <div class="container">
        <form style="margin-bottom: 50px" id="job_form" class="col s12" action="{% url 'create_job' %}" method="post">
          {% csrf_token %}
          <div class="row">
            <div class="input-field col s12 m12 l12 xl6" id="site_selector">
              <label for="job_site">Job Site <span style="color: red;">required</span><span id="site_checkmark" style="color: #00cc55;display: none;">✔</span></label>
              <input type="text" onClick="this.select()" class="autocomplete" autocomplete="off" id="job_site" name="job_site" placeholder="Filter by site name or address" required>
              <input type="hidden" id="site_pk" name="site_pk" value="">
            </div>
            <div class="input-field col s12 m12 l12 xl6 hidden-stuff" id="new_site_div">
              <label for="job_site">Site Name <span style="color: red;">required</span><span class="hidden-stuff" id="already_exists" style="color: red;">(already exists)</span></label>
              <input type="text" oninput="newSiteInput($(this))" autocomplete="off" id="new_site" name="new_site" placeholder="Name for new site">
            </div>
          
            <div  class="input-field col s12 m12 l6">
              <a id="site_select" class="waves-effect waves-light btn-small z-index-3 phone-button pressed-down" style="border-bottom-right-radius: 0;border-top-right-radius: 0;" href="#" onclick="existingSite()">Select Existing Job Site</a><a id="create_new_site" style=" border-bottom-left-radius: 0;border-top-left-radius: 0;" class="waves-effect  waves-light btn-small phone-button" href="#" onclick="createNewSite()">Create New Job Site</a>
            </div>
        </div>
          <div class="row">
            <div class="input-field col s12 m12 l6 xl4">
              <label for="job_number">Job ID (Must be Unique) <span style="color: red;">required</span> <span id="job_number_checkmark" style="color: #00cc55;display: none;">✔</span></label>
              <input type="text" id="job_number" name="job_number" onfocusout="jobNumberCheck()" placeholder="e.g. 12345abc" autocomplete="off" required>
            </div>
            <div class="input-field col s12 m12 l6 xl4">
              <label for="customer_name">Customer Name <span style="color: red;">required</span></label>
              <input type="text" id="customer_name" name="customer_name" placeholder="e.g. Acme Industries" required>
            </div>
            <div class="input-field col s12 m12 l6 xl4">
              <label for="site_contact">Site Contact</label>
              <input type="text" id="site_contact" name="site_contact" placeholder="e.g. John Doe">
            </div>
            <div class="input-field col s12 m12 l6 xl4">
                  <textarea id="site_contact_info" name="site_contact_info"
                    class="materialize-textarea" placeholder="e.g. Phone: 111-222-3333"></textarea>
                  <label class="active" for="site_contact_info">Site Contact Information </label>
            </div>
            <div class="input-field col s12 m12 l6 xl4">
              <label for="job_name">Job Name <span style="color: red;">required</span></label>
              <input type="text" id="job_name" name="job_name" placeholder="e.g. Acme Industries Breaker Testing" required>
            </div>
            <div class="input-field col s12 m12 l6 xl4">
              <label for="project_manager">Project Manager</label>
              <input type="text" id="project_manager" name="project_manager" placeholder="e.g. Eddy Yang">
            </div>
            <div class="col s12 m12 l6 xl4">     
              <label for="start_date" >End Date <span style="color: red;">required</span></label>
              <input style="width: 49%" class="editable-field" type="date" id="start_date" name="start_date" required>
            </div>
            <div class="col s12 m12 l6 xl4">     
              <label for="end_date" >End Date <span style="color: red;"></span></label>
              <input style="width: 49%" class="editable-field" type="date" id="end_date" name="end_date" required>
            </div>
            
          </div>
          
          <div class="row">
            <div class="col s12">
            <h6>Scope and Schedule</h6>
              <label class="check-label">
                <input id="is_startup" name="is_startup" type="checkbox" class="filled-in">
                <span >New Equipment Startup</span>
              </label> <br>
              <label class="check-label">
                <input id="is_preventative_maintenance" name="is_preventative_maintenance" type="checkbox" class="filled-in">
                <span >Preventative Maintenance</span>
              </label><br>
              <label class="check-label">
                <input id="is_troubleshooting" name="is_troubleshooting" type="checkbox" class="filled-in">
                <span >Troubleshooting</span>
              </label><br>
              <label class="check-label">
                <input id="is_warranty" name="is_warranty" type="checkbox" class="filled-in">
                <span >Warranty</span>
              </label><br>
              <label class="check-label">
                <input id="is_standard_testing" name="is_standard_testing" type="checkbox" class="filled-in">
                <span >Standard Testing</span>
              </label><br>
              <label class="check-label">
                <input id="is_neta_testing" name="is_neta_testing" type="checkbox" class="filled-in">
                <span >NETA Testing</span>
              </label><br>
            </div>
          </div>


          <div class="row">
            <div class="col s12">
              <label class="check-label">
                <input id="is_6ft_work" name="is_6ft_work" type="checkbox" class="filled-in">
                <span >Job Includes Work at 6ft or Higher</span>
                
              </label><br>
              <label class="check-label">
                <input id="is_confined_space" name="is_confined_space" type="checkbox" class="filled-in">
                <span >Job Includes Confined Space Work</span>
                
              </label><br>
              <label class="check-label">
                <input id="is_ungaurded_holes" name="is_ungaurded_holes" type="checkbox" class="filled-in">
                <span >Job Has Unguarded Holes Over 1 Meter Deep</span>
                
              </label><br>
              <label class="check-label">
                <input id="is_live_work_required" name="is_live_work_required" type="checkbox" class="filled-in">
                <span >Live Work above 50V Must be Completed</span>
                </label><br>
            </div>
          </div>

          
          <div class="row">
            <div class="input-field col s12 m12 l12 xl6" style="margin-top:1rem;">
              <textarea id="job_scope_details" name="job_scope_details"
                class="materialize-textarea" placeholder="Enter scope specifications."></textarea>
              <label class="active" for="job_scope_details">Scope</label>
            </div>
            <div class="input-field col s12 m12 l12 xl6">
              <textarea id="work_schedule" name="work_schedule"
                class="materialize-textarea" placeholder="e.g. Work will be 8am-7pm with an hour off for lunch..."></textarea>
              <label class="active" for="work_schedule">Work Schedule</label>
            </div>
            
          </div>
          <div class="row">
            <div class="col s12">
            
            <h6>Safety</h6>
            
              
            
              <label class="check-label">
                <input id="is_hardhat" name="is_hardhat" type="checkbox" class="filled-in" >
                <span >Hardhat Required</span>
              </label><br>
              <label class="check-label">
                <input id="is_safety_glasses" name="is_safety_glasses" type="checkbox" class="filled-in" >
                <span >Safety Glasses Required</span>
              </label><br>
              <label class="check-label">
                <input id="is_safety_shoes" name="is_safety_shoes" type="checkbox" class="filled-in" >
                <span > Safety Shoes Required</span>
              </label><br>
              <label class="check-label">
                <input id="is_safety_vest" name="is_safety_vest" type="checkbox" class="filled-in" >
                <span >Safety Vest Required</span>
              </label><br>
              <label class="check-label">
                <input id="is_safety_gloves" name="is_safety_gloves" type="checkbox" class="filled-in">
                <span >Safety Gloves Required</span>
              </label><br>
              <label class="check-label">
                <input id="is_fr_clothes" name="is_fr_clothes" type="checkbox" class="filled-in" >
                <span >Flame Resistant Clothing Required</span>
              </label><br>
              <label class="check-label">
                <input id="is_h2s_monitor" name="is_h2s_monitor" type="checkbox" class="filled-in" >
                <span >H2S Monitor Required</span>
              </label><br>
              <label class="check-label">
                <input id="is_mv_voltage_detector" name="is_mv_voltage_detector" type="checkbox" class="filled-in" >
                <span >1000-5000 Volt Proximity Detector Required</span>
              </label><br>
              <label class="check-label">
                <input id="is_insulated_gloves" name="is_insulated_gloves" type="checkbox" class="filled-in">
                <span >Insulated Gloves (1000V) Required</span>
              </label><br>
              <label class="check-label">
                <input id="is_8cal_protection" name="is_8cal_protection" type="checkbox" class="filled-in">
                <span >10 Cal Arc Flash Suit Required</span>
              </label><br>
              <label class="check-label">
                <input id="is_40cal_protection" name="is_40cal_protection" type="checkbox" class="filled-in">
                <span >40 Cal Arc Flash Suit Required</span>
              </label><br>
              <label class="check-label">
                <input id="is_harness" name="is_harness" type="checkbox" class="filled-in">
                <span >Fall Protection Harness Required</span>
              </label><br>
              <label class="check-label">
                <input id="is_grounding_cluster" name="is_grounding_cluster" type="checkbox" class="filled-in">
                <span >Grounding Clusters Required</span>
              </label><br>
            </div>
          </div>

          <div class="row">
            <div class="input-field col s12 m12 l6 xl4">
              <label for="grounding_wire_size">Grounding Cable Size</label>
              <input type="text" id="grounding_wire_size" name="grounding_wire_size" placeholder="e.g. 2 AWG">
            </div>
            <div class="input-field col s12 m12 l6 xl4">
              <label for="grounding_clamp_style">Grounding Clamp Style</label>
              <input type="text" id="grounding_clamp_style" name="grounding_clamp_style" placeholder="Cylindrical/Flat/Ball">
            </div>
            <div class="input-field col s4 m6 l2">
              <label class="active" for="grounding_cluster_quantity">Cluster Quantity </label>
              <input class="integer-input" type="number" min="0" id="grounding_cluster_quantity" name="grounding_cluster_quantity" value=1>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <textarea id="other_ppe" name="other_ppe" class="materialize-textarea" 
                placeholder="e.g. Earmuffs Required. A Face Shield will Be Required For Grinding."></textarea>
              <label class="active" for="other_ppe">Additional PPE Requirements</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12 m12 l6 xl4">
              <label for="live_work_voltage">Specify Voltage for Live Work</label>
              <input type="text" id="live_work_voltage" name="live_work_voltage" placeholder="e.g. 480 Volts">
            </div>
            <div class="input-field col s12 m12 l6 xl4">
              <textarea id="chemical_hazards" name="chemical_hazards" class="materialize-textarea" 
                placeholder="e.g. H2S, Anydrous Ammonia"></textarea>
              <label class="active" for="chemical_hazards">Chemical Hazards</label>
            </div>
            <div class="input-field col s12 m12 l6 xl4">
              <textarea id="permit_requirements" name="permit_requirements" class="materialize-textarea" 
                placeholder="e.g. Permit is Required for Elevated Work"></textarea>
              <label class="active" for="permit_requirements">Permit Requirements</label>
            </div>
            <div class="input-field col s12 m12 l6 xl4">
              <textarea id="harness_lanyard" name="harness_lanyard" class="materialize-textarea" 
                placeholder="e.g. Require QTY 3 6ft. YoYo Lanyards"></textarea>
              <label class="active" for="harness_lanyard">Harness Lanyards</label>
            </div>
          </div>
          <div class="row">
            <div class="col s12">
              <label class="check-label">
                <input id="is_switching_required" name="is_switching_required" type="checkbox" class="filled-in">
                <span >Switching Required</span>                
              </label> 
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <textarea id="switching_specifications" name="switching_specifications" class="materialize-textarea" 
                placeholder="e.g. Four 5kV Switches with 12cal Arc Flash Exposure"></textarea>
              <label class="active" for="switching_specifications">Switching Specifications and Arc Flash Hazards</label>
            </div>
          </div>
          <div class="row">
            <div class="col s12">
            <h6>Resource Requirements</h6>
              <label class="check-label">
                <input id="is_standard_handtools" name="is_standard_handtools" type="checkbox" class="filled-in" checked>
                <span >Standard Handtools Required</span>
                
              </label><br>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12 m5 l6 xl4">
              <textarea id="extension_cords" name="extension_cords" class="materialize-textarea" 
                placeholder="e.g. Need QTY:7 25ft Extension Cords"></textarea>
              <label class="active" for="extension_cords">Extension Cords</label>
            </div>
            <div class="input-field col s12 m5 l6 xl4">
              <textarea id="generators" name="generators" class="materialize-textarea" 
                placeholder="Quantity, Fuel Type, Max Power, ect."></textarea>
              <label class="active" for="generators">Generators</label>
            </div>
            <div class="input-field col s12 m6 l2">
              <label class="active" for="gasoline">Gasoline</label>
              <input class="integer-input" type="number" min="0" id="gasoline" name="gasoline" placeholder="Gallons">
            </div>
            <div class="input-field col s12 m6 l2">
              <label class="active" for="diesel">Diesel</label>
              <input class="integer-input" type="number" min="0" id="diesel" name="diesel" placeholder="Gallons">
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12 m12 l6 xl4">
              <textarea id="ladders" name="ladders" class="materialize-textarea" 
                placeholder="e.g. Need QTY 3 8ft. Ladders"></textarea>
              <label class="active" for="ladders">Ladders</label>
            </div>
            <div class="input-field col s12 m12 l6 xl4">
              <textarea id="torque_wrenches" name="torque_wrenches" class="materialize-textarea" 
                placeholder="e.g. Require QTY 2 40ft-lb Torque Wrenches"></textarea>
              <label class="active" for="torque_wrenches">Torque Wrenches</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12 m6 l2">
              <label class="active" for="tables">Tables</label>
              <input class="integer-input" type="number" min="0" id="tables" name="tables" value=0 >
            </div>
            <div class="input-field col s12 m6 l2">
              <label class="active" for="chairs">Chairs</label>
              <input class="integer-input" type="number" min="0" id="chairs" name="chairs" value=0 >
            </div>
            <div class="input-field col s12 m12">
              <textarea id="lifts" name="lifts" class="materialize-textarea" 
                placeholder="e.g. Require QTY 2 Single Man Lifts"></textarea>
              <label class="active" for="lifts">Man-Lift Requirements</label>
            </div>
          </div>
          <div class="row">
            <div class="col s12">
              
                <label class="check-label">
                  <input id="is_bus_bender" name="is_bus_bender" type="checkbox" class="filled-in">
                  <span >Bus Bender Required</span>
                  
                </label><br>
              
                <label class="check-label">
                  <input id="is_fork_lift" name="is_fork_lift" type="checkbox" class="filled-in">
                  <span > Fork Lift Required</span>
                 
                </label><br>
              
                <label class="check-label">
                  <input id="is_trailer" name="is_trailer" type="checkbox" class="filled-in">
                  <span > Trailer Required</span>
                 
                </label><br>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12 m12 l12 xl6">
              <textarea id="additional_tools" name="additional_tools" class="materialize-textarea" 
                placeholder="e.g. Need a 4 Inch Metal Hole Saw"></textarea>
              <label class="active" for="additional_tools">Additional Tools Required</label>
            </div>
            <div class="input-field col s12 m12 l12 xl6">
              <textarea id="material" name="material" class="materialize-textarea" 
                placeholder="e.g. QTY 1000 6in. Cable Ties ; QTY 3 10ft. 2x4s"></textarea>
              <label class="active" for="material" style="font-size: 20px;font-weight: 600;"> Required Material</label>
            </div>
          </div>
          <div class="row">
            <h6>Miscellaneous</h6>
            <div class="input-field col s12 m12 l6 xl4">
              <label for="weather_considerations">Weather Considerations</label>
              <input type="text" id="weather_considerations" name="weather_considerations"
               placeholder="e.g. Work is Outdoors; Heavy FR Clothing Recommended. Slick Roads "><br>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <textarea id="job_folder" name="job_folder" class="materialize-textarea" 
                placeholder="Enable if Company Has Seperate File Storage" disabled></textarea>
              <label class="active" for="job_folder">DISABLED - External Job Folder</label>
            </div>
          </div>
          <div class="row">
            <div class="col s12">            
            <h6>Internal</h6>
            <label class="check-label">
              <input id="is_time_and_materials" name="is_time_and_materials" type="checkbox" class="filled-in">
              <span >Job is Time and Materials</span>
            </label>
            <div class="input-field col s6">
              <label class="active" for="quoted_price">Quoted Price</label>
              <input type="number" min="0" id="quoted_price" name="quoted_price" >
            </div>
          </div>
          </div>
          <button class="btn waves-effect waves-light phone-button"  type="submit" name="submit-action">Submit
            <i class="material-icons right">send</i>
          </button>
          <button class="btn-small waves-effect waves-light phone-button" type="reset" name="action" onclick="return confirm_reset();">
            Reset Form
          </button>

        </form>

      </div>
      
      <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script>
function existingSite(){
  $('#create_new_site').removeClass('pressed-down')
  $('#site_select').addClass('pressed-down')
  $('#job_site').prop('required', true)
  $('#new_site').prop('required', false)
  $('#site_selector').show()
  $('#new_site_div').hide()
}
function createNewSite(){
  $('#create_new_site').addClass('pressed-down')
  $('#site_select').removeClass('pressed-down')
  $('#job_site').prop('required', false)
  $('#new_site').prop('required', true)
  $('#site_selector').hide()
  $('#new_site_div').show()
  $('#site_pk').val('')
  $('#job_site').val('')
}


 jobNumbers={{ job_ids|safe }}
  function jobNumberCheck(){
    input = $('#job_number')
    if(jobNumbers.includes(input.val())){
      $('#job_number_checkmark').hide()
      input.css('background-color', '#fffce4')
      M.toast({ html: 'Job# Already Exists' })
      return false;

    }
    else{
      input.css('background-color', 'white')
      $('#job_number_checkmark').show()
      return true;
    }
  }
$('#job_form').submit(function(event){
  event.preventDefault();
   if(jobNumberCheck()){     
      $(this).unbind('submit').submit();
   }

  return false
})
var sites = [{%for site in job_sites%}"{{site.name}}",{%endfor%}]
$('#new_site').focusout(function(){  
  setTimeout(() => {
    if(sites.includes($(this).val())){
      $(this).css("background-color", "#fffce4")
      M.toast({ html: 'Error: Job Site Already Exists' })
    }
  }, 250);
})
function newSiteInput(new_site){
  if(sites.includes(new_site.val())){      
      new_site.css("background-color", "#fffce4")
      $('#already_exists').show()
    }else{
      new_site.css("background-color", "white")
      $('#already_exists').hide()
    }
}
$('#job_site').focusout(function(){  
  setTimeout(() => {
    if(!sites.includes($(this).val())){
      $(this).val('')
      $(this).css("background-color", "#fffce4")
      M.toast({ html: 'Must Select a Job Site' })
      $('#site_checkmark').hide()
    }else{
      $(this).css("background-color", "white")
      $('#site_checkmark').show()
    }
  }, 250);
  
})
window.jobsites = [
          {% for site in job_sites %}
          {
            name:'{{site.name}}',
            owner: '{{site.owner}}',
            site_contact: '{{site.site_contact}}',
            site_contact_info: `{{site.site_contact_info}}`,
            is_hardhat: '{{site.is_hardhat}}',
            is_safety_glasses: '{{site.is_safety_glasses}}',
            is_safety_shoes: '{{site.is_safety_shoes}}',
            is_safety_vest: '{{site.is_safety_vest}}',
            is_safety_gloves: '{{site.is_safety_gloves}}',
            is_fr_clothes: '{{site.is_fr_clothes}}',
            is_h2s_monitor: '{{site.is_h2s_monitor}}',
            additional_ppe_requirements: '{{site.additional_ppe_requirements}}',
            site_pk: '{{site.pk}}'
          },
          {% endfor %}
          ]
  $(document).ready(function(){
    $('.datepicker').datepicker({
      format: 'yyyy-mm-dd',
      autoClose: true
    });
    $('#job_site.autocomplete').autocomplete({
      data: {
        {% for site in job_sites %}
              '{{site.name}}': null,
        {% endfor %}
      },
      limit: Infinity,
      minLength: 0,
      onAutocomplete: function(value) {
         var site_results = jQuery.grep(window.jobsites, function(t, i) {
           return t.name === value;
         });
         console.log(site_results)
         if (site_results.length>0) {
           var site_name = site_results[0].name;
           var site_owner = site_results[0].owner;
           var site_site_contact = site_results[0].site_contact;
           var site_site_contact_info = site_results[0].site_contact_info;
           var is_hardhat = site_results[0].is_hardhat;
           var is_safety_glasses = site_results[0].is_safety_glasses;
           var is_safety_shoes = site_results[0].is_safety_shoes;
           var is_safety_vest = site_results[0].is_safety_vest;
           var is_safety_gloves = site_results[0].is_safety_gloves;
           var is_fr_clothes = site_results[0].is_fr_clothes;
           var is_h2s_monitor = site_results[0].is_h2s_monitor;
           var additional_ppe_requirements = site_results[0].additional_ppe_requirements;
           var site_pk = site_results[0].site_pk;
           if (site_pk !== "" && site_pk !== "None"){
            $('#site_pk').val(site_pk)
            $('#customer_name').val(site_owner)
            $('#site_contact').val(site_site_contact)
            
            
            $('#site_contact_info').val(site_site_contact_info)
            M.textareaAutoResize($('#site_contact_info'));
            $('#other_ppe').val(additional_ppe_requirements)
            M.textareaAutoResize($('#other_ppe'));
            if(is_hardhat){
              $('#is_hardhat').prop("checked", true);
            }
            if(is_h2s_monitor){
              $('#is_h2s_monitor').prop("checked", true);
            }
            if(is_safety_glasses){
              $('#is_safety_glasses').prop("checked", true);
            }
            if(is_safety_shoes){
              $('#is_safety_shoes').prop("checked", true);
            }
            if(is_safety_vest){
              $('#is_safety_vest').prop("checked", true);
            }
            if(is_safety_gloves){
              $('#is_safety_gloves').prop("checked", true);
            }
            if(is_fr_clothes){
              $('#is_fr_clothes').prop("checked", true);
            }
            if(is_fr_clothes){
              $('#is_fr_clothes').prop("checked", true);
            }
            }
         }
         
      },
    });
  });
  function confirm_reset() {
    return confirm("Are you sure you want to reset the form?");
} 
</script>
{% endblock %}
