
<style>
    .lato-300{
        font-family: 'Lato', sans-serif;
        font-weight: 300;
        font-size: 15px;
    }
    .center {
    margin: auto;
    }
    .normal-header{
        padding-top: 10px;
        font-size: 21px;
        font-weight: 400;
        text-align: center;
        text-transform: capitalize;
    }
    .title-weight{
        font-weight: 300;
    }
    .right-side{
        float: right;
    }
    .table-all{
border-collapse:collapse;
}
.c6 {
  float: left;
  width: 50%;
}
.c5{
  float: left;
  width: 41.667%;
}
.c7{
  float: left;
  width: 58.333%;
}
.c8{
  float: left;
  width: 66.666%;
}
.c4 {
    float: left;
    width: 33.333%;
}
.c3 {
  float: left;
  width: 25%;
}
.center-cells{
    border:1px solid #d3d3d3;
    text-align: center;
}
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
.cell-borders{
border-top:1px solid #d3d3d3;
padding: 9px;
text-align: center;
}
.compact-borders{
border-top:1px solid #d3d3d3;
padding: 5px;
text-align: center;
}
</style>