
{% include "jobs/test_sheet_fonts.html" %}
{% block title %}
{% endblock %}
{% block body %}
{% include "jobs/test_sheet_css.html" with test_sheet=test_sheet equipment=equipment job=job %}
<div style="font-family: 'Lato', sans-serif; font-weight: 300; margin-left: 20px; margin-right: 20px;">
    <div class="row">
        <div class="c6">
            <span style="font-family: 'Rubik', sans-serif; color: #01579b; font-size: 35px">{{user_properties.company}}</span>
            <br>
        </div>
        <div class="c6" style="font-size: 20px; font-weight: 500; text-align: right;">
            {{equipment.equipment_type}} <br> Test Report {% if not equipment.equipment_type.name == 'Medium Voltage Motor Contactor' and not equipment.equipment_type.name == 'Medium Voltage Vacuum Breaker' %} <i style="color: #666;">(Page 1 of 2)</i>{%endif%} <br>
            <i style="font-family: 'Rubik', sans-serif; color: #666; font-size: 14px;">Created {{now}}</i>
        </div>
    </div>

    <div class="row" >
        <div class="c4">
            <div style="padding-right: 32px;">
                <div>
                    <span style="font-size: 16px; border-bottom: 1px solid #aaa;">Site Circuit Designation</span>   <br>         
                    <span style="font-size: 24px;">{{equipment.site_id}}</span>
                </div>
                {% include "jobs/test_sheet_jobinfo.html" with test_sheet=test_sheet equipment=equipment job=job %}
            </div>
        </div>
        <div class="c7">
            <h3 class="normal-header">Equipment Information</h3>
            <div class="row">
                <div class="c6">
                    <table class="table-all center lato-300" style="width: 100%;">
                        <tr>
                            <td style="border-right: 1px solid #d3d3d3; padding-right: 7px; text-align: right;">Serial Number
                            </td>
                            <td style="padding-left: 7px;">{{equipment.serial_number_data | default_if_none:""}}</td>
                        </tr>
                        <tr style=" border-top: 1px solid #ededed;">
                            <td style="border-right: 1px solid #d3d3d3; padding-right: 7px; text-align: right;">Equipment Location
                            </td>
                            <td style="padding-left: 7px;">{{equipment.equipment_location_data | default_if_none:""}}</td>
                        </tr>
                        <tr style=" border-top: 1px solid #ededed;">
                            <td style="border-right: 1px solid #d3d3d3; padding-right: 7px; text-align: right;">Manufacturer</td>
                            <td style="padding-left: 7px;">{{equipment.equipment_model.model_manufacturer}}</td>
                        </tr>
                        <tr style=" border-top: 1px solid #ededed;">
                            <td style="border-right: 1px solid #d3d3d3; padding-right: 7px; text-align: right;">Model
                            </td>
                            <td style="padding-left: 7px;">{{equipment.equipment_model}}</td>
                        </tr>
                        <tr style=" border-top: 1px solid #ededed;">
                            <td style="border-right: 1px solid #d3d3d3; padding-right: 7px; text-align: right;">Type
                            </td>
                            <td style="padding-left: 7px;">{{equipment.equipment_type}}</td>
                        </tr>
                        <tr style=" border-top: 1px solid #ededed;">
                            <td style="border-right: 1px solid #d3d3d3; padding-right: 7px; text-align: right;">Max Voltage
                            </td>
                            <td style="padding-left: 7px;">{% if test_sheet.equipment_voltage_data %}{{test_sheet.equipment_voltage_data.normalize}}{% if test_sheet.is_dc_equipment_voltage_data %}DC{%else%} AC{%endif%}{%else%}{%endif%}</td>
                        </tr>
                        <tr style=" border-top: 1px solid #ededed;">
                            <td style="border-right: 1px solid #d3d3d3; padding-right: 7px; text-align: right;">{% if equipment.equipment_type.is_mv_or_hv_breaker %}Continuous Amp Rating{%else%}Frame Size{%endif%}
                            </td>
                            <td style="padding-left: 7px;">{% if test_sheet.frame_size %}{{test_sheet.frame_size }} Amps{%else%}{%endif%}</td>
                        </tr>
                        {% if not equipment.equipment_type.is_mv_or_hv_breaker %}
                        <tr style=" border-top: 1px solid #ededed;">
                            <td style="border-right: 1px solid #d3d3d3; padding-right: 7px; text-align: right;">Interrupting Capacity</td>
                            <td style="padding-left: 7px;">{% if test_sheet.interrupting_capacity_data %}{{test_sheet.interrupting_capacity_data.normalize }} kA @ {% if test_sheet.interrupting_voltage_data %}{{test_sheet.interrupting_voltage_data.normalize }} V{%else%}{%endif%}{%else%}{%endif%}</td>
                        </tr>
                        {%endif%}
                    </table>
                </div>
                <div class="c6">
                    <table class="table-all lato-300" style="width: 90%; padding-left: 20px; margin-left: 9%;">
                        <tr>
                            <td style="border-right: 1px solid #d3d3d3; padding-right: 7px; text-align: right;">System Voltage
                            </td>
                            <td style="padding-left: 7px;">{% if test_sheet.system_voltage_data %}{{test_sheet.system_voltage_data.normalize}}&nbsp;{% if test_sheet.is_dc_system_voltage_data %}VDC{%else%}VAC{%endif%}{%else%}{%endif%} </td>
                        </tr>
                        <tr style=" border-top: 1px solid #ededed;">
                            <td style="border-right: 1px solid #d3d3d3; padding-right: 7px; text-align: right;">Control Voltage
                            </td>
                            <td style="padding-left: 7px;">{% if test_sheet.control_voltage_data %}{{test_sheet.control_voltage_data.normalize}} {% if test_sheet.is_dc_control_voltage_data %}DC{%else%}AC{%endif%}{%else%}{%endif%}</td>
                        </tr>
                        <tr style=" border-top: 1px solid #ededed;">
                            <td style="border-right: 1px solid #d3d3d3; padding-right: 7px; text-align: right;">Trip Coil Voltage
                            </td>
                            <td style="padding-left: 7px;">{{test_sheet.trip_coil_voltage_data.normalize}} {% if test_sheet.is_dc_trip_voltage_data %}DC{%else%}AC{%endif%}</td>
                        </tr>
                        {% if op_counter %}
                        <tr style=" border-top: 1px solid #ededed;">
                            <td style="border-right: 1px solid #d3d3d3; padding-right: 7px; text-align: right;">Operations Counter<br>As-Found
                            </td>
                            <td style="padding-left: 7px;">{{test_sheet.operations_counter_af | default_if_none:""}}</td>
                        </tr>
                        <tr style=" border-top: 1px solid #ededed;">
                            <td style="border-right: 1px solid #d3d3d3; padding-right: 7px; text-align: right;">Operations Counter<br>As-Left
                            </td>
                            <td style="padding-left: 7px;">{{test_sheet.operations_counter_al | default_if_none:""}}</td>
                        </tr>
                        {% endif %}
                        {% if equipment.is_power_fused %}
                        <tr style=" border-top: 1px solid #ededed;">
                            <td style="border-right: 1px solid #d3d3d3; padding-right: 7px; text-align: right;">Fuse Manufacturer
                            </td>
                            <td style="padding-left: 7px; min-width: 30px;">{{test_sheet.fuse_manufacturer | default_if_none:""}}</td>
                        </tr>
                        <tr style=" border-top: 1px solid #ededed;">
                            <td style="border-right: 1px solid #d3d3d3; padding-right: 7px; text-align: right;">Fuse Type
                            </td>
                            <td style="padding-left: 7px;">{{test_sheet.fuse_type | default_if_none:""}}</td>
                        </tr>
                        <tr style=" border-top: 1px solid #ededed;">
                            <td style="border-right: 1px solid #d3d3d3; padding-right: 7px; text-align: right;">Fuse Size
                            </td>
                            <td style="padding-left: 7px;">{% if test_sheet.fuse_size %}{{test_sheet.fuse_size}}Amps{%endif%}</td>
                        </tr>
                        {% endif %}
                        <tr style=" border-top: 1px solid #ededed;">
                            <td class="title-weight"  style= "border-right: 1px solid #d3d3d3; padding-right: 7px; text-align: right;">Date Manufactured</td>
                            <td style = "padding-left: 7px;">{{test_sheet.date_manufactured | default_if_none:""}}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
       
    <div class="row" >
        <div class="col s12">         
            {% include "jobs/test_sheet_inspections.html" with test_sheet=test_sheet equipment=equipment %}
        </div>
    </div>
        {% if is_fuse %} 
            {% include "jobs/test_sheet_fuse_1.html" with test_sheet=test_sheet equipment=equipment %}
        {% endif %} 
        {% if is_mvvb %}
            {% if test_sheet.eq.is_insulation_resistance or test_sheet.eq.is_contact_resistance%}
                {% include "jobs/test_sheet_insul_contact_resistance.html" with test_sheet=test_sheet equipment=equipment %}
            {%endif%}
            {% if test_sheet.eq.is_hipot %}
                {% include "jobs/test_sheet_hipot.html" with test_sheet=test_sheet equipment=equipment %}
            {%endif%}
        {%endif%}
</div>
{% endblock %}
