
<table class="table-all center lato-300" style="width: 100%;">
    <caption class="normal-header">Job Information
    </caption>
    <tr>
        <td class="title-weight" style= "border-right: 1px solid #d3d3d3; padding-right: 7px; text-align: right;">Customer Name</td>
        <td style = "padding-left: 7px;">{{job.customer_name}}</td>
    </tr>
    <tr style=" border-top: 1px solid #ededed;">
        <td class="title-weight"  style= "border-right: 1px solid #d3d3d3; padding-right: 7px; text-align: right;">Job Site Name</td>
        <td style = "padding-left: 7px;">{{job.job_site.name}}</td>
    </tr>
    <tr style=" border-top: 1px solid #ededed;">
        <td class="title-weight"  style= "border-right: 1px solid #d3d3d3; padding-right: 7px; text-align: right;">Owner</td>
        <td style = "padding-left: 7px;">{{job.job_site.owner}}</td>
    </tr>
    <tr style=" border-top: 1px solid #ededed;">
        <td class="title-weight"  style= "border-right: 1px solid #d3d3d3; padding-right: 7px; text-align: right;">Job Name</td>
        <td style = "padding-left: 7px;">{{job.job_name}}</td>
    </tr>
    <tr style=" border-top: 1px solid #ededed;">
        <td class="title-weight"  style= "border-right: 1px solid #d3d3d3; padding-right: 7px; text-align: right;">Address</td>
        <td style = "padding-left: 7px;">{{job.job_site.address}}</td>
    </tr>
    <tr style=" border-top: 1px solid #ededed;">
        <td class="title-weight"  style= "border-right: 1px solid #d3d3d3; padding-right: 7px; text-align: right;">Project Lead</td>
        <td style = "padding-left: 7px;">{{job.project_manager}}</td>
    </tr>
    <tr style=" border-top: 1px solid #ededed;">
        <td class="title-weight"  style= "border-right: 1px solid #d3d3d3; padding-right: 7px; text-align: right;">Tested By</td>
        <td style = "padding-left: 7px;">{{test_sheet.testers | default_if_none:""}}</td>
    </tr>
    <tr style=" border-top: 1px solid #ededed;">
        <td class="title-weight"  style= "border-right: 1px solid #d3d3d3; padding-right: 7px; text-align: right;">Date</td>
        <td style = "padding-left: 7px;">{{test_sheet.date_tested | default_if_none:""}}</td>
    </tr>
</table>